#login-box {
    width: 500px;
    height: 470px;
    box-shadow: 0px 0px 20px 10px #BEBEBE;
    border-radius: 10px;
    margin: 100px auto;
    background-color: #FFFFFF;
}

#login-box > p {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    line-height: 120px;
    vertical-align: middle;
    color: #5D5D5D;
}

#login-box-inner {
    width: 400px;
    height: 320px;
    margin: 0 auto;
}

#login-box-inner > form > input[type="text"], #login-box-inner > form > input[type="password"] {
    display: block;
    width: calc(100% - 45px);
    height: 45px;
    margin: 0 40px 20px 0;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    padding: 0 20px;
}

#login-box-inner > form > button {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: #AAF0D1;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.1em;
    margin: 20px 0;
}

#login-box-inner-bottom-btn {
    width: 180px;
    margin: 10px auto;
}
#login-box-inner-bottom-btn > a {
    color: #5D5D5D;
}

#login-box-inner-rememberme {
    margin-top: 50px;
}

#login-box-inner-rememberme > label {
    color: #5D5D5D;
    cursor: pointer;
}

#sign-up-box {
    width: 500px;
    height: 660px;
    box-shadow: 0px 0px 20px 10px #BEBEBE;
    border-radius: 5px;
    margin: 40px auto;
    background-color: #FFFFFF;
}

#sign-up-box > p {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    line-height: 120px;
    vertical-align: middle;
    color: #5D5D5D;
}

#sign-up-box-inner {
    width: 400px;
    height: 520px;
    margin: 0 auto;
}

#sign-up-box-inner > form > label {
    color: #BEBEBE;
    font-size: 0.8em;
}

#sign-up-box-inner > form > input[type="text"], #sign-up-box-inner > form > input[type="password"] {
    display: block;
    width: calc(100% - 45px);
    height: 45px;
    margin: 0 40px 15px 0;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    padding: 0 20px;
}

#sign-up-box-inner > form > button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #AAF0D1;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.1em;
    margin: 20px 0;
}