* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: content-box;
}

a {
    text-decoration: none;
    color: black;
}

a :hover {
    text-decoration: none !important;
}

.no-under {
    text-decoration: none !important;
}

body {
    background-color: #F7F8F9;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
}

.top-bar {
    background-color: #BBB5E0;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 5px 5px 20px #BDBCC2;
}

.top-bar i {
    font-size: 1.5em;
    color: white;
    margin-left: 30px;
    line-height: 70px;
    vertical-align: middle;
    cursor: pointer;
}

.top-bar #top-bar-logo {
    width: 50px;
    height: auto;
    margin: 5px 0 5px 20px;
}

.top-bar #top-bar-right {
    width: 200px;
    height: 70px;
    float: right;
}

.top-bar #top-bar-right > a {
    font-size: 1.1em;
    line-height: 70px;
    vertical-align: middle;
    float: right;
    margin-right: 50px;
    font-weight: bold;
    color: #FFFFFF;
}

.top-bar #top-bar-right > span > a {
    font-size: 1.1em;
    line-height: 70px;
    vertical-align: middle;
    float: right;
    margin-right: 30px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 0;
}

.left-menu {
    width: 70px;
    background-color: #80DF80;
    position: fixed;
    height: 100%;
    top: 70px;
    padding-top: 50px;
}

.left-menu ul {
    list-style: none;
}

.left-menu li {
    margin-bottom: 30px;
}

.left-menu i {
    font-size: 1.8em;
    color: white;
    text-align: center;
    display: block;
}

.footer {
    width: calc(100% - 80px);
    height: 100px;
    background-color: #DEDEDE;
    padding: 0 40px;
}

.footer small {
    display: block;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}

#main {
    width: 100%;
    min-height: 1000px;
    margin-top: 50px;
    /*background: url('/images/main.jpg') no-repeat center center;*/
}

#main iframe {
    width: 1200px;
    height: 675px;
    margin: 0 auto 50px auto;
    display: block;
}

.container {
    margin-top: 120px;
    min-height: 800px;
    padding-left: 0;
    padding-right: 0;
}

.tagify__input {
    width: 40%;
    margin: 0 !important;
    height: 25px;
    color: #6C757D;
}

.tagify {
    border: none;
}

.cleaner {
    clear: both;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    line-height: 80px;
    vertical-align: middle;
    color: #5D5D5D;
    margin-bottom: 20px;
}