* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: content-box;
}

a {
    text-decoration: none;
    color: black;
}

a :hover {
    text-decoration: none !important;
}

body {
    background-color: #EEECF8;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
}

.top-bar {
    background-color: #BBB5E0;
    height: 70px;
}

.top-bar #top-bar-logo {
    width: 50px;
    height: auto;
    margin: 10px 0 5px 20px;
}

.top-bar #top-bar-right {
    width: 200px;
    height: 70px;
    float: right;
}

.top-bar #top-bar-right > a {
    font-size: 1.1em;
    line-height: 70px;
    vertical-align: middle;
    float: right;
    margin-right: 50px;
    font-weight: bold;
    color: #FFFFFF;
}

.top-bar #top-bar-right > span > a {
    font-size: 1.1em;
    line-height: 70px;
    vertical-align: middle;
    float: right;
    margin-right: 30px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 0;
}

.top-menu {
    height: 100px;
    width: 370px;
    margin: 10px auto;
}

.top-menu > a {
    width: 80px;
    height: 80px;
    float: left;
    border: 1px solid #dddfe4;
    border-radius: 100%;
    opacity: 0.5;
    cursor: pointer;
    margin: 0 20px;
}

.top-menu > a :hover {
    background-color: #BBB5E0;
    border-radius: 100%;
    color: white;
}

.top-menu > a > img {
    width: 40px;
    height: auto;
    padding: 20px;
}

.top-menu > a > p {
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
}

.footer {
    width: calc(100% - 80px);
    height: 100px;
    background-color: #f3f3f3;
    padding: 0 40px;
}

#main {
    width: 100%;
    height: 800px;
    background: url('/images/main.jpg') no-repeat center center;
}

.container {
    min-height: 800px;
}