#new-lecture-btn-box {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

#new-lecture-btn {
    width: 150px;
    height: 40px;
    background-color: #BBB5E0;
    display: block;
    float: right;
    color: white;
    cursor: pointer;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
    margin-right: 10px;
}

#new-lecture-box > p {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    line-height: 120px;
    vertical-align: middle;
    color: #5D5D5D;
}

#new-lecture-box-inner {
    width: 400px;
    height: 320px;
    margin: 0 auto;
}

#new-lecture-box-inner-open {
    cursor: pointer;
}

#new-lecture-box-inner button {
    width: 100%;
    height: 40px;
    background-color: #BBB5E0;
    color: white;
    border-radius: 3px;
    margin: 20px auto 0 auto;
}

.lecture-list {
    min-height: 200px;
    margin-bottom: 20px;
    padding: 10px 0;
}

.lecture-list-inner {
    width: 90%;
    margin: 0 auto;
    background-color: #7EBC9A;
    border-radius: 3px;
}

.lecture-list-title {
    width: calc(100% - 20px);
    height: 200px;
    background-color: #404040;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    display: table;
    padding: 0 10px;
}

.lecture-list-title > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.lecture-list-bottom {
    width: calc(100% - 20px);
    height: 30px;
    padding: 10px;
    color: white;
}

.lecture-list-bottom i {
    cursor: pointer;
}

.lecture-list-bottom-date {
    float: right;
}