#new-lecture-btn-box {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

#new-lecture-btn {
    width: 150px;
    height: 40px;
    background-color: #BBB5E0;
    display: block;
    float: right;
    color: white;
    cursor: pointer;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
    margin-right: 10px;
}

#new-lecture-box > p {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    line-height: 120px;
    vertical-align: middle;
    color: #5D5D5D;
}

#new-lecture-box-inner {
    margin: 0 auto 30px auto;
}

#new-lecture-box-inner-open {
    margin-bottom: 5px;
}

#new-lecture-box-button {
    width: 100%;
    height: 50px;
    background-color: #BBB5E0;
    color: white;
    border-radius: 3px;
    margin: 20px auto 0 auto;
    padding: 0;
}

.lecture-list {
    min-height: 200px;
    margin-bottom: 20px;
    padding: 10px 0;
}

.lecture-list-inner {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 10px #BDBCC2;
    color: black;
}

.lecture-list-top {
    width:100%;
    height: 60px;
    background: url('/images/lecture-default.jpg') no-repeat center center;
    border-top-left-radius: 3px;
}

.lecture-list-title {
    width: calc(100% - 20px);
    height: 50px;
    cursor: pointer;
    padding: 10px;
}

.lecture-list-title > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.lecture-list-tags {
    padding: 10px 10px 0 10px;
    min-height: 50px;
}

.lecture-list-bottom {
    width: calc(100% - 20px);
    height: 25px;
    padding: 10px;
    border-top-right-radius: 3px;
}

.lecture-list-bottom i {
    cursor: pointer;
}

.lecture-list-bottom-date {
    float: right;
}

#new-lecture-box-inner form input[type=text] {
    display: block;
    width: calc(100% - 25px);
    height: 35px;
    margin: 0 40px 0 0;
    border-radius: 5px;
    padding: 0 10px;
}

#new-lecture-box-inner-open input {
    width: 18px;
    height: 18px;
    float: left;
    margin: 4px 5px 0 0;
}

#new-lecture-box-inner-open label {
    float: left;
    cursor: pointer;
}