<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Keto Berry</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css">
    <link href="/css/common.css" rel="stylesheet"/>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
    <script src="/js/common.js"></script>
</head>

<div th:fragment="top-bar" class="top-bar">
    <a href="/"><img id="top-bar-logo" src="/images/main-logo.png" alt="logo"/></a>
    <div id="top-bar-right">
        <a href="/login" sec:authorize="!isAuthenticated()">로그인</a>
        <span sec:authorize="isAuthenticated()">
            <a class="no-under" th:href="@{'/profile/' + ${#authentication.name}}">My Page</a>
            <a class="nav-link" th:href="@{/notifications}">
                <i th:if="${!hasNotification}" class="fa fa-bell" aria-hidden="true"></i>
                <span class="text-info" th:if="${hasNotification}">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                </span>
            </a>
        </span>
    </div>


</div>

<div th:fragment="top-menu" class="top-menu">
    <a href="/"><img src="/images/home.png" alt="home"/></a>
    <a class="no-under" href="/lecture"><p>강의</p></a>
    <a class="no-under" href="/community"><p>커뮤니티</p></a>
</div>

<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>

<footer th:fragment="footer" class="footer">
    <small>&copy; KetoBerry Corp.</small>
</footer>
</html>