<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Keto Berry</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500&display=swap" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
</head>

<div th:fragment="top-bar" class="top-bar">
    <a id="top-bar-logo" href="/">Keto Berry</a>
    <div id="top-bar-right">
        <a href="/login">로그인</a>
    </div>
</div>

<div th:fragment="top-menu" class="top-menu">
    <a href="/"><img src="/images/home.png" alt="home"/></a>
    <a href="/lecture"><p>강의</p></a>
    <a href="/community"><p>커뮤니티</p></a>
</div>

<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>

<footer th:fragment="footer" class="footer">
    <small>&copy; 2020</small>
</footer>
</html>