<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common.html :: head"></head>
<div th:replace="common.html :: top-bar"></div>
<br />
<div th:replace="common.html :: top-menu"></div>
<body>
 <div id="main">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Kys6i41y5t8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
</body>
<div th:replace="common.html :: footer"></div>
</html>